
.table-hover .visible-on-table-row-hover {
    visibility: hidden;
}

.table-hover tr:hover .visible-on-table-row-hover {
    visibility: unset;
}

.list-table-loading {
    font-style: italic;
    text-align: center;
}

.list-table thead tr {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
