<h1 id="tableLabel" class="d-flex justify-content-center mb-4">Livres comptables</h1>

<div>
  <list-table #listTable [items]="items">
    <list-table-column width="4em" title="#" property="id" [rowheader]="true"></list-table-column>
    <list-table-column width="auto" title="Libellé" property="label"></list-table-column>
    <div list-table-editor>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-group mb-2">
          <label for="labelInput" class="form-label col-2">Libellé</label>
          <input type="text" formControlName="labelControl" id="labelInput"
            class="form-control col-offset-2 col-10" placeholder="Libellé du livre comptable..." autofocus />
        </div>
        <div class="row">
          <div class="col-sm-12 col-lg-1">
            <input type="submit" class="btn btn-primary"
              value="{{ listTable.validateButtonLabel }}" />
          </div>
          <div class="col-sm-12 col-lg-1">
            <input type="reset" class="btn btn-secondary" (click)="listTable.cancelEdit()"
              value="Annuler" />
          </div>
        </div>
      </form>
    </div>
  </list-table>
</div>