<h1 id="tableLabel" class="d-flex justify-content-center mb-4">Opérations comptables</h1>

<div class="d-flex justify-content-center mt-2 mb-2">
  <ngb-datepicker
  (navigate)="dateNavigation($event)" (dateSelect)="dateSelection($event)"
  #dateNavigator
  [formControl]="dateNavigatorFormCtrl"></ngb-datepicker>
</div>

<div class="row mb-2">
  <div class="col-sm-1 amount-total-label">
    Recettes
  </div>
  <div class="col-sm-1 amount-total-value"
    [class.plus]="totalDisplayedRevenue.isStrictPositive()"
    >
    {{ totalDisplayedRevenue.toLocaleString() }}
  </div>
</div>
<div class="row mb-2">
  <div class="col-sm-1 amount-total-label">
    Dépenses
  </div>
  <div class="col-sm-1 amount-total-value"
    [class.minus]="totalDisplayedExpense.isStrictPositive()"
    >
    {{ totalDisplayedExpense.toLocaleString() }}
  </div>
</div>
<div class="row mb-2">
  <div class="col-sm-1 amount-total-label">
    Total
  </div>
  <div class="col-sm-1 amount-total-value"
  [class.plus]="totalDisplayedBalance.isStrictPositive()"
  [class.minus]="totalDisplayedBalance.isStrictNegative()"
  >
    {{ totalDisplayedBalance.toLocaleString() }}
  </div>
</div>

<div>
    <list-table #listTable
        [items]="itemsDisplayed"
        confirmDeleteMessage="Supprimer l'opération ?"
        >
        <list-table-column width="8em" title="Date" property="dateTime"></list-table-column>
        <list-table-column width="8em" title="Montant" property="amount"></list-table-column>
        <list-table-column width="8em" title="Moy. Pay." property="paymentMethod"></list-table-column>
        <list-table-column width="10em" title="Livre" property="accountBookName"></list-table-column>
        <list-table-column width="12em" title="Imputation" property="accountingEntryName"></list-table-column>
        <list-table-column width="auto" title="Libellé" property="label"></list-table-column>
        <list-table-column width="12em" title="Opérateur" property="operatorName"></list-table-column>
        <div list-table-editor>
          <form [formGroup]="opsFormGroup" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="dateTimeInput" class="form-label col-2">Date</label>
              <input type="text" formControlName="dateTimeCtrl" id="dateTimeInput" class="form-control col-offset-2 col-10" ngbDatepicker #dateInput="ngbDatepicker" (click)="dateInput.toggle()" hint="AAAA-MM-JJ"/>
            </div>
            <div class="form-group">
              <label for="amountInput" class="form-label col-2">Montant (€)</label>
              <input type="text" formControlName="amountCtrl" id="amountInput" class="form-control col-offset-2 col-10"
                placeholder="136,53" autofocus />
            </div>
            <div class="form-group">
              <label for="paymentMethodSelect" class="form-label col-2">Moyen de paiement</label>
              <select class="form-control col-offset-2 col-10" formControlName="paymentMethodCtrl" id="paymentMethodSelect">
                <option *ngFor="let paymentMethod of paymentMethods" value="{{ paymentMethod }}">{{ paymentMethodString(paymentMethod) }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="bookSelect" class="form-label col-2">Livre comptable</label>
              <select class="form-control col-offset-2 col-10" formControlName="bookCtrl" id="bookSelect">
                <option *ngFor="let book of accountBookList" value="{{ book.id }}">{{ book.label }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="entrySelect" class="form-label col-2">Imputation comptable</label>
              <select class="form-control col-offset-2 col-10" formControlName="entryCtrl" id="entrySelect">
                <option *ngFor="let entry of accountingEntryList" value="{{ entry.id }}">{{ entry.label }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="operSelect" class="form-label col-2">Opérateur</label>
              <select class="form-control col-offset-2 col-10" formControlName="operCtrl" id="operSelect">
                <option *ngFor="let oper of operatorList" value="{{ oper.id }}">{{ oper.name }}</option>
              </select>
            </div>
            <div class="form-group" [style.display]="workingItemEntryDependsOnBoarder ? '' : 'none'">
              <label for="boarderSelect" class="form-label col-2">Pensionnaire</label>
              <select class="form-control col-offset-2 col-10" formControlName="boarderCtrl" id="boarderSelect">
                <option *ngFor="let boarder of boarderList" value="{{ boarder.boarderId }}">{{ boarder.name }}</option>
              </select>
            </div>
            <div class="form-group" [style.display]="workingItemIsCheckPayment ? '' : 'none'">
              <label for="paymentCheckNbInput" class="form-label col-2">Numéro de chèque</label>
              <input type="text" class="form-control col-offset-2 col-10" formControlName="paymentCheckNbCtrl" id="paymentCheckNbInput"
              />
            </div>
            <div class="form-group" [style.display]="workingItemIsCardPayment ? '' : 'none'">
              <label for="paymentCardNbInput" class="form-label col-2">Numéro de carte</label>
              <input type="text" class="form-control col-offset-2 col-10" formControlName="paymentCardNbCtrl" id="paymentCardNbInput"
              />
            </div>
            <div class="form-group" [style.display]="workingItemIsTransferPayment ? '' : 'none'">
              <label for="paymentTransferNbInput" class="form-label col-2">Numéro de virement</label>
              <input type="text" class="form-control col-offset-2 col-10" formControlName="paymentTransferNbCtrl" id="paymentTransferNbInput"
              />
            </div>
            <div class="form-group">
              <label for="labelInput" class="form-label col-2">Libellé</label>
              <input type="text" class="form-control col-offset-2 col-10" formControlName="labelCtrl" id="labelInput"/>
            </div>
            <div class="form-group"
                *ngIf="formValidationErrorMessage"
                >
                <p class="form-validation-error-message">
                    {{ formValidationErrorMessage }}
                </p>
            </div>
            <div class="row">
              <div class="col-sm-12 col-lg-1">
                <input type="submit" class="btn btn-primary" value="{{ listTable.validateButtonLabel }}" />
              </div>
              <div class="col-sm-12 col-lg-1">
                <input type="reset" class="btn btn-secondary" (click)="listTable.cancelEdit()" value="Annuler" />
              </div>
            </div>
          </form>
        </div>
    </list-table>
</div>