<h1 class="d-flex justify-content-center mb-2">Repas</h1>

<div class="d-flex flex-row flex-wrap justify-content-center">

    <div class="mx-5 mb-2">
        <ng-template #mealDayTemplate let-date let-selected="selected">
            <div
                ngbDatepickerDayView
                class="btn-light meal-day"
                [class.bg-primary]="selected"
                [class.bg-light]="dayInCurrentMonth(date) && !selected && dayIsEmpty(date)"
                [class.text-light]="dayInCurrentMonth(date) && (selected || !dayIsEmpty(date))"
                [class.text-muted]="!dayInCurrentMonth(date) || (!selected && dayIsEmpty(date))"
                [class.bg-success]="!selected && dayInCurrentMonth(date) && !dayIsEmpty(date)"
                title="{{ getMealDayDescription(date) }}"
                >
            {{ date.day }}
        </div>
        </ng-template>

        <ngb-datepicker (dateSelect)="dateSelection($event)"
            (navigate)="dateNavigation($event)"
            [dayTemplate]="mealDayTemplate"
            [minDate]="{ year: 1990, month: 01, day: 01 }" #dateNavigator [formControl]="dateNavigatorFormCtrl">
        </ngb-datepicker>
    </div>

    <div class="mx-5 w-30">
        <form [formGroup]="mealFormGroup" (ngSubmit)="onSubmit()" class="form-horizontal">
            <div class="form-group row input-group mb-2">
                <label for="meal-form-boarders" class="col-8 input-group-text">Nombre de pensionnaires</label>
                <input id="meal-form-boarders" type="number" formControlName="nbBoardersControl" class="form-control">
            </div>
            <div class="form-group row input-group mb-2">
                <label for="meal-form-patrons" class="col-8 input-group-text">Nombre de clients</label>
                <input id="meal-form-patrons" type="number" formControlName="nbPatronsControl" class="form-control">
            </div>
            <div class="form-group row input-group mb-2">
                <label for="meal-form-others" class="col-8 input-group-text">Autres</label>
                <input id="meal-form-others" type="number" formControlName="nbOthersControl" class="form-control">
            </div>
            <div class="form-group row input-group mb-2">
                <label for="meal-form-caterers" class="col-8 input-group-text">Traiteurs</label>
                <input id="meal-form-caterers" type="number" formControlName="nbCaterersControl" class="form-control">
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-1">
                    <button type="submit"
                        class="btn btn-primary"
                        [disabled]="!canSave()"
                    >Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>