<h1 id="tableLabel">Opérateurs</h1>

<p [style.display]="operators ? 'none' : ''"><em>Chargement...</em></p>

<div [style.display]="operators ? '' : 'none'">
  <list-table #operatorListTable [items]="operators">
    <list-table-column width="4em" title="#" property="id" [rowheader]="true"></list-table-column>
    <list-table-column width="16em" title="Nom" property="name"></list-table-column>
    <list-table-column width="8em" title="Téléphone" property="phone"></list-table-column>
    <list-table-column width="auto"></list-table-column>
    <form #editor [formGroup]="operatorFormGroup">
      <div class="row mx-2 mb-2">
        <label for="operatorNameInput" class="form-label col-2">Nom</label>
        <input form="operatorForm" type="text" formControlName="nameControl" id="operatorNameInput"
          class="form-control col-offset-2 col-10" placeholder="Nom de l'opérateur..." autofocus />
      </div>
      <div class="row mx-2 mb-2">
        <label for="operatorPhoneInput" class="form-label col-2">Téléphone</label>
        <input form="operatorForm" type="tel" pattern="[0-9]{2}\( ?[0-9]{2}\){4}" formControlName="phoneControl"
          id="operatorPhoneInput" class="form-control col-offset-2 col-10" placeholder="Numéro de téléphone..." />
      </div>
      <div class="row">
        <div class="col-1">
          <input form="operatorForm" type="submit" class="btn btn-primary" value="{{ operatorListTable.validateButtonLabel }}" />
        </div>
        <div class="col-1">
          <input form="operatorForm" type="reset" class="btn btn-secondary" (click)="operatorListTable.cancelEdit()"
            value="Annuler" />
        </div>
      </div>
      <form id="operatorForm" (ngSubmit)="onSubmit()"></form>
    </form>
  </list-table>

</div>